.section-money{}

	.section-money > .width:first-of-type{
		margin:0 auto 90px
		}

.money-content{
	display:inline-block;
	width:50%
	}

	.money-content .money-heading{
		max-width:280px;
		margin:0 0 80px
		}

	.money-content .money-copy{
		max-width:550px
		}

.money-image{
	display:inline-block;
	width:50%
	}

	.money-image img{
		width:75%;
		max-width:420px;
		margin:auto
		}

#money-graph{
	width:60%;
	margin:120px auto 0;
	text-align:center
	}

	#money-graph-chart{
		position:relative;
		margin:60px 0 30px
		}

	#money-graph-chart #chart-image{
		position:relative
		}

		#money-graph-chart #chart-image .chart-data{
			position:absolute;
			font-size:14px
			}

		#money-graph-chart #chart-image .chart-data:not(:first-of-type):not(:last-of-type) span{
			display:block;
			white-space:nowrap;
			text-align:center
			}

		#money-graph-chart #chart-image .chart-data:first-of-type,
		#money-graph-chart #chart-image .chart-data:last-of-type{
			position:absolute;
			text-align:right;
			text-transform:uppercase;
			line-height:0;
			color:#d63e3e
			}

		#money-graph-chart #chart-image .chart-data:first-of-type span,
		#money-graph-chart #chart-image .chart-data:last-of-type span{
			display:inline-block;
			vertical-align:1px;
			width:7px;
			height:7px;
			background:#d63e3e;
			border-radius:100%
			}

		#money-graph-chart #chart-image .chart-data:first-of-type{
			bottom:-15px;
			left:-20px;
			-webkit-transform:translateX(-100%);
			transform:translateX(-100%)
			}

		#money-graph-chart #chart-image .chart-data:last-of-type{
			top:-35px;
			right:0;
			-webkit-transform:translateY(-100%);
			transform:translateY(-100%)
			}

		#money-graph-chart #chart-image .chart-data:not(:first-of-type):not(:last-of-type) span{
			display:block;
			position:relative;
			-webkit-transform:translateX(-50%);
			transform:translateX(-50%)
			}

		#money-graph-chart #chart-image .chart-data:nth-of-type(2){bottom:2%;left:0}
		#money-graph-chart #chart-image .chart-data:nth-of-type(3){bottom:18%;left:0}
		#money-graph-chart #chart-image .chart-data:nth-of-type(4){bottom:29%;left:0}
		#money-graph-chart #chart-image .chart-data:nth-of-type(5){bottom:39%;left:0}

		#money-graph-chart #chart-image .chart-data:nth-of-type(6){bottom:8%;left:50%}
		#money-graph-chart #chart-image .chart-data:nth-of-type(7){bottom:35%;left:50%}
		#money-graph-chart #chart-image .chart-data:nth-of-type(8){bottom:55%;left:50%}
		#money-graph-chart #chart-image .chart-data:nth-of-type(9){bottom:85%;left:50%}


		#money-graph-chart #chart-image .chart-data:nth-of-type(10){bottom:17%;left:100%}
		#money-graph-chart #chart-image .chart-data:nth-of-type(11){bottom:44%;left:100%}
		#money-graph-chart #chart-image .chart-data:nth-of-type(12){bottom:67%;left:100%}
		#money-graph-chart #chart-image .chart-data:nth-of-type(13){bottom:100%;left:100%}

		#money-graph-chart #chart-image .chart-data:nth-of-type(10) span,
		#money-graph-chart #chart-image .chart-data:nth-of-type(11) span,
		#money-graph-chart #chart-image .chart-data:nth-of-type(12) span,
		#money-graph-chart #chart-image .chart-data:nth-of-type(13) span{
			-webkit-transform:translateX(-100%) !important;
			transform:translateX(-100%) !important
			}

	#money-graph-chart #chart-y-axis{
		}

		#money-graph-chart #chart-y-axis .y-axis{
			position:absolute;
			right:-10px;
			-webkit-transform:translate(100%,-50%);
			transform:translate(100%,-50%);
			text-align:left;
			font-size:14px;
			line-height:1em
			}

		#money-graph-chart #chart-y-axis .y-axis:nth-of-type(1){top:0%}
		#money-graph-chart #chart-y-axis .y-axis:nth-of-type(2){top:30%}
		#money-graph-chart #chart-y-axis .y-axis:nth-of-type(3){top:51%}
		#money-graph-chart #chart-y-axis .y-axis:nth-of-type(4){top:77%}

	#money-graph-chart #chart-x-axis{
	    justify-content:space-between;
		-webkit-justify-content:space-between;
		margin:10px 0 0;
		border-top:2px solid #d63e3e
		}

		#money-graph-chart #chart-x-axis .x-axis{
			position:relative
			}

		#money-graph-chart #chart-x-axis .x-axis:before{
			content:"";
			display:block;
			width:2px;
			height:10px;
			background:#d63e3e
			}

		#money-graph-chart #chart-x-axis .x-axis span{
			position:absolute;
			display:block;
			margin:10px 0 0;
			-webkit-transform:translateX(-50%);
			transform:translateX(-50%);
			white-space:nowrap;
			font-size:14px;
			line-height:1em
			}

@media screen and (max-width:1024px){

	#money-graph-chart #chart-y-axis .y-axis{
		max-width:120px;
		white-space:normal
		}
	
}

@media screen and (max-width:768px){

	.money-content,
	.money-image{
		width:100%
		}

		.money-image,
		.money-content .money-heading{
			margin-bottom:60px
			}

}


@media screen and (min-width:600px){

	#money-graph-chart #chart-image #chart-image-mobile{
		display:none
		}

}

@media screen and (max-width:600px){

	.money-image img{
		max-width:240px
		}

	#money-graph{
		width:70%;
		margin:60px auto 0
		}

		#money-graph-chart{
			transform:translateX(-10%);
			-webkit-transform:translateX(-10%)
			}

		#money-graph-chart #chart-image img:not(#chart-image-mobile){
			display:none
			}

		#money-graph-chart #chart-image #chart-image-mobile{
			display:block
			}

		#money-graph-chart #chart-image .chart-data{
			font-size:12px
			}

		#money-graph-chart #chart-image .chart-data:first-of-type{
			display:none
			}

		#money-graph-chart #chart-x-axis{
			margin:30px 0 0
			}

		#money-graph-chart #chart-x-axis .x-axis span{
			white-space:normal;
			text-align:center;
			font-size:12px
			}

		#money-graph-chart #chart-y-axis .y-axis{
			max-width:75px;
			font-size:12px
			}

}
