.section-collaborators{
	position:relative
	}

.collaborators-content{
	display:inline-block;
	width:480px;
	margin:0 60px 0 0
	}

	.collaborators-content .g-vertical{
		height:100%;
		justify-content:space-between;
  		flex-direction:column
		}

	.collaborators-content h2{
		margin:0 0 50px;
		text-decoration:underline
		}

	.collaborators-content .collaborators-image{
		max-width:400px
		}

.collaborators-partners{
	display:inline-block;
	min-height:600px;
	width:calc(100% - 540px)
	}

	.collaborators-partners .logo{
		position:relative;
		width:25%;
		height:25%
		}

	.collaborators-partners .logo:after{
		content:"";
		display:block;
		padding-top:100%
		}

	.collaborators-partners .logo img{
		position:absolute;
		display:block;
		width:auto;
		max-width:110px;
		max-height:50px;
		top:50%;
		left:50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		transition:opacity .3s;
		-webkit-backface-visibility:hidden
		}

	.collaborators-partners .logo img:hover{
		opacity:.6
		}

@media screen and (max-width:1024px){

	.collaborators-content{
		width:100%;
		margin:0 0 60px
		}

		.collaborators-content .collaborators-image{
			position:absolute;
			max-width:240px;
			bottom:30px
			}

	.collaborators-partners{
		width:100%;
		margin:0 0 60px
		}

		.collaborators-partners .logo{
			width:16.66%
			}

		.collaborators-partners .logo img{
			max-width:60%
			}

	}

@media screen and (max-width:768px){

	.collaborators-partners{
		margin:0 0 120px
		}

	.collaborators-partners .logo{
		width:25%
		}

	}


@media screen and (max-width:600px){

	.collaborators-partners .logo{
		width:33.33%
		}

	}