.section-business-quotes{
	padding:140px 0
	}

.section-business-quotes .quotes-title{
	display:inline-block;
	width:50%
	}

	.section-business-quotes .quotes-title .type-large{
		max-width:380px;
		margin:auto
		}

.section-business-quotes .quotes-slides{
	display:inline-block;
	width:50%
	}

	.section-business-quotes .quotes-slides .slide{
		padding:0 60px 60px
		}

		.section-business-quotes .quotes-slides .slick-initialized .slide{
			// padding:0 60px
			}

	.section-business-quotes .quotes-slides .slide blockquote{
		margin:auto
		}

	.section-business-quotes .quotes-slides .slide blockquote p{
		margin:25px auto 50px;
		font-size:22px;
		font-family:"Pinopolis",sans-serif
		}

	.section-business-quotes .quotes-slides .slide blockquote:before{
		content:open-quote
		}

	.section-business-quotes .quotes-slides .slide blockquote:after{
		content:close-quote
		}

	.section-business-quotes .quotes-slides .slide blockquote:before,
	.section-business-quotes .quotes-slides .slide blockquote:after{
		display:block;
		width:25px;
		height:25px;
		font:700 65px/45px "Pinopolis",sans-serif;
		font-family:"Pinopolis"
		}

	.section-business-quotes .quotes-slides .slide .quote-logo{
		}

	.section-business-quotes .quotes-slides .slide img{
		max-width:130px;
		margin:30px 0 8px
		}

	.section-business-quotes .quotes-slides .slide .quote-byline{
		padding-right:60px;
		font-size:12px
		}

@media screen and (max-width:1024px){
	
	.section-business-quotes .quotes-title{
		width:100%;
		margin:0 0 60px
		}

	.section-business-quotes .quotes-slides{
		width:100%;
		margin:0 auto 60px
		}

	.section-business-quotes .quotes-slides .slide{
		padding:0
		}

}

@media screen and (max-width:768px){

	.section-business-quotes{
		padding:90px 0
		}

}