.section-product-practices{
	padding:60px 0
	}

.section-product-practices .practices-title{
	display:inline-block;
	width:50%
	}

	.section-product-practices .practices-title .type-large,
	.section-product-practices .practices-title p{
		max-width:380px;
		margin:auto
		}

	.section-product-practices .practices-title p{
		margin:30px auto 0
		}

	.section-product-practices .practices-title p span{
		text-decoration:underline;
		cursor:pointer
		}

.section-product-practices .practices-content{
	display:inline-block;
	width:50%
	}

	.section-product-practices .practices-content > ul > li{
		margin:0 0 20px
		}

	.section-product-practices .practices-content > ul > li ol,
	.section-product-practices .practices-content > ul > li ul{
		margin:20px 0
		}

	.section-product-practices .practices-content > ul > li:last-of-type{
		margin:0
		}

@media screen and (max-width:768px){


	.section-product-practices .practices-title,
	.section-product-practices .practices-content{
		width:100%
		}

	.section-product-practices .practices-title{
		margin:0 0 30px
		}

	.section-product-practices .practices-title .type-large{
		max-width:100%
		}

	}