.section-future-quotes{
	padding:140px 0
	}

.section-future-quotes .quotes-title{
	display:inline-block;
	width:50%
	}

	.section-future-quotes .quotes-title .type-large{
		max-width:380px;
		margin:auto
		}

.section-future-quotes .quotes-slides{
	display:inline-block;
	width:50%
	}

	.section-future-quotes .quotes-slides .slide{
		padding:0 60px
		}

	.section-future-quotes .quotes-slides .slide blockquote{
		margin:auto
		}

	.section-future-quotes .quotes-slides .slide blockquote p{
		margin:25px auto 50px;
		font-family:"Pinopolis",sans-serif
		}

	.section-future-quotes .quotes-slides .slide blockquote:before{
		content:open-quote
		}

	.section-future-quotes .quotes-slides .slide blockquote:after{
		content:close-quote
		}

	.section-future-quotes .quotes-slides .slide blockquote:before,
	.section-future-quotes .quotes-slides .slide blockquote:after{
		display:block;
		width:25px;
		height:25px;
		font:700 65px/45px "Pinopolis",sans-serif;
		font-family:"Pinopolis",sans-serif
		}

	.section-future-quotes .quotes-slides .slide .quote-logo{
		height:20px
		}

	.section-future-quotes .quotes-slides .slide img{
		max-width:130px;
		margin:30px 0 8px
		}

	.section-future-quotes .quotes-slides .slide .quote-byline{
		padding-right:90px;
		font-size:12px
		}

.section-future-quotes .slick-arrow.slick-prev{
    background:url(../../images/icon-arrow-left-blue.svg) center/contain no-repeat
    }

.section-future-quotes .slick-arrow.slick-next{
    background:url(../../images/icon-arrow-right-blue.svg) center/contain no-repeat
    }

.section-future-quotes .slick-dots li{
    background:rgba(81,71,255,.3);
    transition:.3s
    }

.section-future-quotes .slick-dots li.slick-active{
    background:rgba(81,71,255,1)
    }


@media screen and (max-width:1024px){

	.section-future-quotes .quotes-title{
		width:100%;
		margin:0 0 60px
		}

	.section-future-quotes .quotes-title .type-large{
		margin:0
		}

	.section-future-quotes .quotes-slides{
		width:100%;
		margin:0 auto 60px
		}

	.section-future-quotes .quotes-slides .slide{
		padding:0
		}

}

@media screen and (max-width:768px){

	.section-future-quotes{
		padding:90px 0
		}

}