*,*:before,*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
    }

html{
    height:100%;
    overflow-x:hidden;
    background:#fff
    }

body{
    position:relative;
    height:100%;
    margin:0;
    padding:.1px;
    font:16px/1.5em "Pinopolis",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing:antialiased
    }

img{
    display:block;
    max-width:100%;
    height:auto !important;
    margin:0
    }

h1,h2,h3,h4,h5{
    margin:0;
    font:30px/1.2em "Pinopolis",Helvetica,Arial,sans-serif;
    }

.type-large{
    text-decoration:underline;
    font:30px/1.3em "Pinopolis",Helvetica,Arial,sans-serif
    }

a{
    text-decoration:none;
    color:inherit
    }

img{
    width:100%
    }

p,ul,ol{
    font:24px/1.25em "Pinopolis",Helvetica,Arial,sans-serif;
    }

p:last-of-type,ul:last-of-type,ol:last-of-type{
    margin-bottom:0
    }

p a,
ul a,
ol a{
    text-decoration:underline
    }

/*  COMMON CLASS  */

.cta{
    position:relative;
    display:inline-block;
    height:55px;
    padding:0 20px;
    overflow:hidden;
    text-align:center;
    text-transform:uppercase;
    text-decoration:underline;
    letter-spacing:.2em;
    font:16px/55px "Pinopolis",Helvetica,Arial,sans-serif;
    color:#fff;
    background:#362ea9;
    border:none;
    box-shadow:none;
    outline:none;
    cursor:pointer;
    transition:.3s
    }

section{
    padding:140px 0
    }

.width{
    width:90%;
    max-width:1400px;
    margin:auto
    }

    .w-large{
        max-width:1200px
        }

    .w-medium{
        max-width:900px
        }

    .w-small{
        max-width:750px
        }

    .clear:after{
        content:"";
        display:block;
        height:0;
        clear:both
        }

.g-flex{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap
    }

    .g-center{
        align-items:center;
        -webkit-align-items:center
        }

    .g-bottom{
        align-items:flex-end;
        -webkit-align-items:flex-end;
        }

    .g-vertical{
        flex-direction:row;
        -webkit-flex-direction:row
        }

.d-rtl{
    direction:rtl
    }

    .d-rtl > *{
        direction:initial
        }

.section-title{
    margin-bottom:40px;
    text-transform:uppercase;
    font-size:22px;
    color:#000
    }

    .section-title span{
        display:inline-block;
        width:30px;
        height:30px;
        margin:0 15px 0 0;
        text-align:center;
        line-height:27px;
        border:1.5px solid #000;
        border-radius:100%;
        }

    .section-title.cr-blue{color:#5147ff}
    .section-title.cr-blue span{border:1.5px solid #5147ff}

    .section-title.cr-white{color:#fff}
    .section-title.cr-white span{border:1.5px solid #fff}

.bg-blue{background:#5147ff}
.bg-lightblue{background:#d9e5ff}
.bg-lightred{background:#ffe3e3}
.bg-red{background:#ff6969}
.bg-lightred{background:#ffe3e3}
.bg-black{background:#000000}
.bg-gray{background:#e5e6e7}
.bg-white{background:#fff}

.cr-blue{color:#5147ff}
.cr-lightblue{color:#d9e5ff}
.cr-lightred{color:#ffe3e3}
.cr-red{color:#ff6969}
.cr-lightred{color:#ffe3e3}
.cr-black{color:#000000}
.cr-gray{color:#e5e6e7}
.cr-white{color:#fff}

/*  COMMON CLASS - END  */

/*  SLIDER  */

.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

.slick-list{
    transition:.3s
    }

.slick-arrow{
    position:absolute;
    width:20px;
    height:20px;
    top:40%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    font-size:0;
    background:transparent;
    outline:none;
    border:none;
    appearance:none;
    -webkit-appearance:none;
    cursor:pointer;
    z-index:10
    }

.slick-arrow.slick-prev{
    left:0;
    background:url(images/icon-arrow-left-white.svg) center left/contain no-repeat
    }

.slick-arrow.slick-next{
    right:0;
    background:url(images/icon-arrow-right-white.svg) center right/contain no-repeat
    }

.slick-dots{
    position:absolute;
    margin:0;
    padding:0;
    right:0;
    bottom:0;
    list-style:none;
    text-align:right;
    line-height:0
    }

.slick-dots li{
    position:relative;
    display:inline-block;
    width:12px;
    height:12px;
    margin-left:10px;
    border-radius:100%;
    background:rgba(255,255,255,.3);
    transition:.3s
    }

.slick-dots li:first-of-type{
    margin-left:0
    }

.slick-dots li.slick-active{
    background:rgba(255,255,255,1)
    }

.slick-dots li button{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    font-size:0;
    background:transparent;
    outline:none;
    border:none;
    appearance:none;
    -webkit-appearance:none;
    cursor:pointer
    }

/*  SLIDER - END  */

@media screen and (max-width:1024px){

    .slick-arrow{
        top:auto;
        bottom:-60px
        }

}

@media screen and (max-width:768px){

    .d-rtl{
        direction:initial
        }

}

@media screen and (max-width:600px){

    h1,h2,h3,h4,h5,.type-large{
        font-size:24px
        }

    p,ul,ol{
        font-size:20px;
        }

    .section-title{
        font-size:18px
        }

    section{
        padding:60px 0
        }

    }